body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.buttons button {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: #eee;
}


.buttons button:hover {
    box-shadow: 5px 5px 10px slategray;
}

.operator {
    color: #2f9fff;
}